/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Poppins";
  font-weight: 400;
  color: #323232;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

.header {
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  flex-direction: row;
  gap: 42px;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  font-size: 16px;
  line-height: 24px;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  text-decoration: none;
  color: #323232;
}

.menu__item:first-child .menu__link {
  font-weight: 700;
  color: #f78434;
}

.menu__link:hover {
  font-weight: 700;
  color: #f78434;
}

.page__main {
}
.main {
}
.main__container {
  position: relative;
  padding-bottom: 134px;
}

.main__container img {
  position: absolute;
  top: 0;
  right: 0;
}

.main__content {
}

.main__title {
  position: relative;
  font-weight: 700;
  font-size: 54px;
  line-height: 146%;
  letter-spacing: 0.8px;
  color: #323232;
  max-width: 674px;
  padding-top: 127px;
  margin: 0px;
  z-index: 1;
}

.main__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 1.15px;
  color: #323232;
  max-width: 467px;
  margin-top: 25px;
}

.main__text p {
  margin: 0;
}

.main__form {
  margin-top: 42px;
  display: flex;
}

.main__form label {
  position: relative;
}
.main__input {
  background: #ffffff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 29px;
  width: 459px;
  height: 58px;
  padding: 0px 75px;
}

.main__input:focus {
  outline: none;
}

.main__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bbbbbb;
}

.main__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 29px;
  padding: 18px 37px;
}
.button_orange {
  background: #f78434;
}

.button_white {
  background-color: #ffffff;
  color: #323232;
}

.page__companies {
}
.companies {
}
.companies__container {
  padding: 99px 0px;
}
.companies__logos {
}
.logos {
}
.logos__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 95px;
}
.logos__item {
}

.page__provide {
}
.provide {
  display: flex;
  flex-direction: row;
  gap: 135px;
}

.provide__img {
}
.provide__content {
}
.content-provide {
  max-width: 374px;
}
.content-provide__title {
  padding-top: 68px;
  margin: 0px 0px 20px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
}

.content-provide__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  margin-bottom: 40px;
}

.content-provide__text p {
  margin: 0;
}

.page__start {
  padding-top: 145px;
  padding-bottom: 72px;
}

.start__container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 96px;
  background-color: #58bebf;
  padding: 59px 0px 0px 0px;
  border-radius: 20px;
}
.start__image {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 20px 0px 20px;
}

.start__image img {
  width: 100%;
  padding-top: 25px;
  padding-right: 24px;
}
.start__content {
}
.content-start {
  padding: 32px 0px 91px 0px;
}
.content-start__title {
  max-width: 342px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
}
.content-start__text {
  max-width: 342px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #ffffff;
  margin-bottom: 30px;
}
.content-start__buttons {
  display: flex;
  gap: 20px;
}

.content-start__oval-big {
  position: absolute;
  top: 0px;
  right: 0px;
}
.content-start__oval-small {
  position: absolute;
  bottom: 0;
  transform: translateX(-90%);
}

.why__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
  padding-bottom: 56px;
}

.why__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
  margin-bottom: 10px;
}

.why__sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  margin-bottom: 45px;
}

.services-why {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.column-why {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 88px;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.column-why__logo {
  margin-bottom: 15px;
}

.column-why_orange {
  background-color: #f78434;
}

.column-why_white {
  background-color: #ffffff;
}

.why-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  margin-bottom: 1px;
}

.why-title_white {
  color: #ffffff;
}

.why-title__black {
  color: #323232;
}

.why-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  margin-bottom: 25px;
}

.why-text_white {
  color: #ffffff;
}

.why-text_black {
  color: #323232;
}

.choose-us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 112px;
}

.choose-us__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #323232;
  margin-bottom: 58px;
}

.advantages {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}

.column-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-advantages__logo {
  margin-bottom: 15px;
}

.column-advantages__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #323232;
}

.column-advantages__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  color: #323232;
}
